 .Imagen1 {
	position: relative;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	top: 0px;
	left: 0px;
	width: 1350px;
	height: 160px;
 }
 
.Imagen2 {
	position: relative;
	border: 0px;
	padding: 0px;
	top: 100px;
	left: 1220px;
	
}
 
 .I2 {
     position: fixed;
     border: 0px;
     left: 0px;
     top: 230px;
 }
 
 .I3 {
     position: fixed;
     border: 0px;
     left: 0px;
     top: 270px;
 }
 
 .I4 {
     position: fixed;
     border: 0px;
     left: 0px;
     top: 310px;
 }
 
 .I5 {
     position: fixed;
     border: 0px;
     left: 0px;
     top: 350px;
 }
 
 .I6 {
	 position: fixed;
     border: 0px;
     left: 0px;
     top: 390px;
 }
 .Imagen7 {
	position: relative;
	border: 0px;
	padding: 0px;
	alignment-adjust: central;
	top: 150px;
 }
 
.Logopdf {
	position: absolute;
	border: 0px;
	right: 106px;
	top: 319px;
	height: 85px;
	width: 79px;
}
.Logopizarra{
	position: absolute;
	border: 0px;
	right: 96px;
	top: 487px;
	height: 85px;
	width: 79px;
}

.H1{
	position: relative;
	font-family: "OCR A Std";
	color: #D6D6D6;
	text-align: justify;
	text-indent: hanging;
}

.Text1{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 258px;
	left: 451px;
	width: 321px;
}	
.Text2{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 400px;
	left: 1110px;
	height: 19px;
}
.Text3{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 603px;
	left: 1110px;
	height: 19px;
	width: 160px;
}	
.Text4{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 638px;
	left: 1110px;
	height: 19px;
}	
.Text5{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 674px;
	left: 1110px;
	height: 19px;
}	
.Text6{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 710px;
	left: 1110px;
	height: 19px;
}	
.Text7{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 746px;
	left: 1110px;
	height: 19px;
}	
.Text8{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 782px;
	left: 1110px;
	height: 19px;
}	
.Text9{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 818px;
	left: 1110px;
	height: 19px;
}	
.Text10{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 854px;
	left: 1110px;
	height: 19px;
}	
.Text11{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 890px;
	left: 1110px;
	height: 19px;
}	
.Text12{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 926px;
	left: 1110px;
	height: 19px;
}	
.Text13{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 962px;
	left: 1110px;
	height: 19px;
}	
.Text14{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 998px;
	left: 1110px;
	height: 19px;
}	
.Text15{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 1034px;
	left: 1110px;
	height: 19px;
}
.Text16{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 1070px;
	left: 1110px;
	height: 19px;
}
.Text17{
	position: absolute;
	font-family: "OCR A Std";
	padding: 0px;
	color: #F6F6F6;
	text-align: center;
	text-indent: hanging;
	top: 1096px;
	left: 1106px;
	height: 19px;
}

footer{
	border: 0px;
	padding: 5px;
	margin: 0px;
	margin-right:0px;
	background: #00c000;
	box-sizing: border-box;
}

.pie1{
	border: 3px;
	left: 5px;
	color: #161616;
	font-family: "OCR A Std";
	text-align: left;
	box-sizing: border-box;
}
.pie3{
	border: 3px;
	right: 3px;
	color: #161616;
	font-family: "OCR A Std";
	text-align: center;
	box-sizing: border-box;
}
.boton{
	
	}

 
