.tabla1 {
	position: absolute;






































	padding:0px
	border-top: 0px;
	margin-top: 0px;
	margin-left: 0px;
	left: 3px;
	width: 1075px;
	top: 1px;
	height: 52px;
}
 
